.logos-container {
  margin: 0 0 40px 0;

  svg {
    display: inline-block;
  }
}

.devextreme-logo {
  width: 255px;
  height: 60px;
}

.angular-logo {
  width: 247px;
  height: 60px;
}

.plus {
  margin: 20px;
  width: 22px;
  height: 22px;
}

:host-context(.screen-x-small) .logos-container {
  svg {
    width: 100%;
    display: block;

    &.plus {
      margin: 0;
    }
  }
}
