.logos-container {
  margin: 0 0 40px 0;

  svg {
    display: inline-block;
  }
}

.devextreme-logo {
  width: 255px;
  height: 60px;
}

.react-logo {
  width: 184px;
  height: 60px;
}

.plus {
  margin: 20px;
  width: 22px;
  height: 22px;
}

.screen-x-small .logos-container {
  svg {
    width: 100%;
    display: block;

    &.plus {
      margin: 0;
    }
  }
}
