$theme-mode: "light" !default;

@use "devextreme/scss/widgets/fluent/colors" as * with ($color: "blue", $mode: $theme-mode);
@use "devextreme/scss/widgets/fluent/sizes" as * with ($size: "default");
@use "devextreme/scss/widgets/fluent/fieldset/sizes" as *;
@use "sass:math";
@use "sass:color";

:root {
  --plus-icon-color: #242424;
  --devextreme-logo-color: #596C7D;
  --vue-logo-text-color: #35495E;

  @if $theme-mode == dark {
    --plus-icon-color: #fff;
    --devextreme-logo-color: #fff;
    --vue-logo-text-color: #fff;
  }

}
