name: Lint tests

on: [push, pull_request]

jobs:
  lint-test:
    strategy:
      fail-fast: true

    runs-on: ubuntu-latest
    name: Lint
    timeout-minutes: 20

    steps:

    - name: Get sources
      uses: actions/checkout@v4

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'pnpm'
        cache-dependency-path: pnpm-lock.yaml

    - name: Install pnpm
      run: |
        corepack enable
        corepack prepare pnpm@9.12.0 --activate

    - name: Install dependencies
      env:
        PUPPETEER_SKIP_DOWNLOAD: true
      run: pnpm install --frozen-lockfile

    - name: Run tests
      run: pnpm run lint
