name: Publish NPM package

on:
  workflow_dispatch:
    inputs:
      version:
        type: choice
        required: true
        description: Bump version
        options:
          - patch
          - minor
          - major

jobs:
  build:
    name: Build & Publish NPM package
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Get sources
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'

      - name: Run npm install - root
        run: npm ci --no-audit --no-fund

      - name: Run npm install - devextreme-schematics
        working-directory: packages/devextreme-schematics
        run: npm ci --no-audit --no-fund

      - name: Test devextreme-schematics
        working-directory: packages/devextreme-schematics
        run: npm run test

      - name: Build devextreme-schematics
        working-directory: packages/devextreme-schematics
        run: npm run build

      - uses: fregante/setup-git-user@v2

      - name: Update NPM config
        run: npm set "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}"

      - name: Publish package
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npx lerna version ${{ github.event.inputs.version }} -y --no-push
          git push -f --follow-tags --no-verify --atomic origin master
          npx lerna publish from-git -y
