name: ThemeBuilder tests

on: [push, pull_request]

jobs:
  themebuilder-test:
    strategy:
      fail-fast: false
      matrix:
        NODE: [ 20 ]

    runs-on: ubuntu-latest
    name: ThemeBuilder
    timeout-minutes: 60

    steps:

    - name: Get sources
      uses: actions/checkout@v4

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.NODE }}
        cache: 'pnpm'
        cache-dependency-path: pnpm-lock.yaml

    - name: Enable Corepack
      run: corepack enable

    - name: Install dependencies
      env:
        PUPPETEER_SKIP_DOWNLOAD: true
      run: pnpm install --frozen-lockfile

    - name: Run tests
      run: pnpm run test-themebuilder
